body {
  background-color: rgba(250, 227, 227, 0.219);
  text-align: center;
  display: block;
  padding-top: 10px;
}

.container {
  margin: 12px auto;
  margin-bottom: 0px;
  font-family: "Poppins", sans-serif;
  border: 2px groove transparent;
  border-radius: 10px;
  background-image: linear-gradient(
    70deg,
    #ffcecf 100%,
    #ffb9b9 100%,
    #ffadad 100%
  );
  padding: 0;
  padding-top: 5px;
  box-shadow: 1px 1px 1px transparent;
  color:rgba(206, 35, 64, 0.61);
  max-width: 475px;
}

.row-first {
  display: flex;
  position: relative;
  left: 115px;
}

#go {
  position: relative;
  left: 5px;
  top: 12px;
}

input {
  border: none;
  border-radius: 5px;
  border: 2px outset #fff;
  color: rgb(206, 35, 63);
  position: relative;
  left: 80px;
}

.btn-sm {
  padding: 3px 7px 3px 7px;
  color: #fff;
  background-color: #fff;
  color: rgb(206, 35, 63);
  border: 2px outset #fff;
  position: relative;
  right: 41px;
  bottom: 5px;
}

.btn-sm:hover {
  background-color: rgb(206, 35, 63);
  border: 1px outset rgb(206, 35, 63);
  transition: all 200ms ease-in-out;
  border: 2px outset #fff;
}

.btn-sm:active {
  color: #fff;
  background-color: rgb(206, 35, 63);
  border: 2px outset (206, 35, 63);
}

h1,
h2,
h4 {
  text-align: center;
}

h1 {
  text-align: center;
  margin: 15px 0 0 0;
  display: block;
  padding: 0;
  font-size: 50px;
  font-weight: 900;
  text-transform: capitalize;
  position: relative;
  top: 10px;
}

#left {
  position: relative;
  left: 15px;
}


h2 {
  font-size: 95px;
  font-weight: lighter;
  margin-bottom: 0;
}

#degrees {
  font-size: 15px;
  position: relative;
  bottom: 57px;
}

#description {
  font-size: 16px;
  font-weight: 400;
  margin-top: 0;
  padding: 0;
  text-transform: capitalize;
}

.right-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: 18px;
  top: 10px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  text-decoration: bold;
  position: relative;
  right: 41px;
  top: 10px;
  margin-top: 0;
  padding: 0;
}

.right {
  font-size: 13px;
  line-height: 1.5;
  text-align: left;
  font-style: italic;
  position: relative;
  left: 20px;
}

.side {
  font-weight: 600;
  font-style: normal;
  opacity: 0.95;
}

h4 {
  font-size: 22px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#forecast {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  position: relative;
  left: 50px;
}

img {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  position: relative;
  right: 25px;
}

.times, .temps {
  font-size: 17px;
  margin: 0 auto;
  padding: 0;
}

a {
  color: rgb(206, 35, 63);
  cursor: pointer;
}

a:hover {
  color: rgb(206, 35, 63);;
  text-decoration-line: none;
}

a:visited {
  font-weight: 900;
}

.active {
  color:black;
  cursor: default;
}

.active:hover {
  color: black;
}

.mainIcon {
  margin: 0 auto;
  padding: 0;
  max-width: 300px;
  max-height: 300px;
  position: relative;
  left: 2px;
  top: 15px;
}

.open-source-code {
  display: block;
  margin: 0 auto;
  padding: 0;
  font-size: 12px;
}